Repository chastelock/snelleutf: changes, and which Codecov flags are due for each by the changed paths.
All: snelleutf, snelleutf-src, snelleutf-sys

Mark simdutf amalgamation as binary in git
  .gitattributes
Due: none

Export compile-time simdutf version
  snelleutf-src/src/lib.rs
  snelleutf-sys/build.rs
  snelleutf-sys/src/lib.rs
  snelleutf/src/lib.rs
Due: snelleutf, snelleutf-src, snelleutf-sys

Add SECURITY.md
  SECURITY.md
Due: none

snelleutf: Return the count from a successful simdutf_result
  snelleutf/src/error.rs
  snelleutf/src/utils.rs
  snelleutf/src/validate.rs
Due: snelleutf

snelleutf: Use c_char instead of i8
  snelleutf/src/count.rs
  snelleutf/src/validate.rs
Due: snelleutf

Clarify memory safety
  snelleutf-src/README.md
  snelleutf-src/SECURITY.md
  snelleutf-sys/SECURITY.md
  snelleutf/README.md
  snelleutf/SECURITY.md
Due: snelleutf, snelleutf-src, snelleutf-sys

snelleutf: Add Base64 decoding
  snelleutf/src/b64.rs
Due: snelleutf

snelleutf: Fix b64::*_add_to_{vec,string} with non-empty vecs
  snelleutf/src/b64.rs
Due: snelleutf

snelleutf: Fix tests on -std+alloc
  snelleutf/src/b64.rs
Due: snelleutf

snelleutf: Add autodetect_encoding
  snelleutf/src/detect.rs
  snelleutf/src/lib.rs
Due: snelleutf

snelleutf: Improve docs
  snelleutf/src/b64.rs
  snelleutf/src/error.rs
  snelleutf/src/validate.rs
Due: snelleutf

snelleutf: Fix doctest
  snelleutf/src/validate.rs
Due: snelleutf

Charset conversions
  snelleutf/src/convert.rs
  snelleutf/src/lib.rs
Due: snelleutf

snelleutf(convert): Fix append_to_vec if failed
  snelleutf/src/convert.rs
Due: snelleutf

snelleutf(convert): Fix off-by-one on append error
  snelleutf/src/convert.rs
Due: snelleutf

ci: Include doctests in coverage
  .gitignore
  .woodpecker/test.yaml
Due: none

Fix cargo warning
  Cargo.toml
Due: none

Path conditions:
  snelleutf: any of: snelleutf/**
  snelleutf-src: any of: snelleutf-src/**
  snelleutf-sys: any of: snelleutf-sys/**
